footer {
    background-color: #f4f4f4;
    width: 100%;
    height: 30px;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
}

footer h5 {
    text-align: center;
}